<h1>Change Password</h1>

<%= @user.errors.full_messages.join(", ")%>
<%# the path has to change to the edit path and pass in id and change the method to patch%>
<%= form_for @user,url: change_password_path(@user),method: :patch do |f|%>
<div class="">
  <%= f.label :old_password%>
  <%= f.password_field :old_password%>
</div>
<div class="">
  <%= f.label :password%>
  <%= f.password_field :password%>
</div>
<div class="">
  <%= f.label :password_confirmation%>
  <%= f.password_field :password_confirmation%>
</div>
<%= f.submit "Update Password"%>
<% end%>
