<h1><%= @post.title%> - <%= @post.user_full_name%></h1>
<h3>
  <% @post.tags.each do |tag|%>
    <%= tag.name %>
  <%end%>
</h3>
<p>
  <%= @post.body%>
</p>
<p>
  <% if can? :edit, @post%>
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%end%>
  <% if can? :destroy, @post%>
  <%= link_to 'Delete', post_path(@post), method: :delete,
                        data: {confirm: "Are you sure you want to delete this post"}%> |
  <% end %>
  <div id="like-post">
    <%= render "/likes/like"%>
  </div>
</p>
<hr>
<p>
  <%= @comment.errors.full_messages.join(", ")%>
  <%= form_for [@post,@comment] do |f|%>
    <%= f.text_area :body%>
    <%= f.submit%>
  <% end%>
</p>
<hr>
<% @post.comments.each do |comment|%>
  <%= render "/comments/comment", comment: comment%>
<% end%>
